* {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#toolbox {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(225, 225, 225);
  border-bottom: 1px solid black;
}

.divider {
  flex-grow: 0.15;
  border-bottom: 1px solid black;
  margin: 15px;
}

label {
  font-size: large;
}

.title {
  font-size: 50px;
  padding: 0.2em;
}

#resetButton {
  align-items: center;
  font-size: medium;
  padding: 2px;
  background-color: rgb(255, 0, 0);
}

#color-palette {
  display: flex;
  font-size: 20px;
  padding-left: 1em;
  padding-top: 1em;
  background-color: rgb(225, 225, 225);
}


.color-box {
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid black;
  cursor: pointer;
}